body{
	margin: 0;
	padding: 0;
	text-align:center;
}

.container{
	margin-top: 50%;
}
#design_title{
	padding-top: 20%;
	padding-left: 20%;
	padding-bottom: 14%;
	background-color: white;
}

#box_background img{
	z-index: -1;
	height: 10%;
	width: 100%;
}

#red img{
	width: 100%;
	background-color: white;
}
#red_top{
	background-color: #D71111;
	height: 20%;
	width: 100%; 
}

#press p{
	background-color: white;
	padding-bottom: 16%;
	font-size: 14px;

}

#D img{
	float:left;
	width: 10%;
	position: relative;
}

#E img{
	float: left;
	width: 10%;
	position: relative;
	margin-left: 3%;
}

#S img{
	float: left;
	width: 9%;
	position: relative;
	margin-left: 2%;
}

#I img{
	float: left;
	width: 10%;
	position: relative;
	margin-left: 2%;
	margin-right: 2%;
}

#G img{
	float: left;
	width: 14.5%;
	position: relative;
}

#N img{
	float: left;
	width: 11.5%;
	position: relative;
	margin-left: 3%;
}

.main_page img{
	max-width: 100%;
}

.thumb_container{
	width: 33.33333%;
	overflow: hidden;
	float: left;
}

.grid {
	position: relative;
	margin: 0 auto;
	background-color: blue;
}

.boxInner img#plato{
	height: 100%;
	min-width: 150%;
	text-align: center;
	transform: translate(-18%);
}

.boxInner img#sharethebus{
	height: 100%;
	min-width: 160%;
	text-align: center;
	transform: translate(-5%);
}
.boxInner img#villar{
	height: 100%;
	min-width: 400px;
	text-align: center;
	transform: translate(-12%);
}
.boxInner img#valentine{
	height: 100%;
	min-width: 150%;
	text-align: center;
	transform: translate(-30%);
}

.js .grid::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background: #252323 url(../img/loading.svg) no-repeat 50% 75px;
	/*put interesting loader here*/
	background-size: 60px auto;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.js .grid--loaded::after {
	opacity: 0;
}

.grid__item {
	width: 270px;
	height: 270px;
	overflow: hidden;
}

.grid__item--current {
	opacity: 0 !important;
}

.img-wrap {
	display: block;
}

.img-wrap:focus,
.img-wrap:hover {
	outline: none;
}

.img-wrap img {
	display: block;
	max-width: 100%;
}

.preview {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	-webkit-align-content: center;
	align-content: center;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	width: 100%;
	height: 75%;
	pointer-events: none;
}

.preview::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	background: #1f1d1d;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.preview--open {
	pointer-events: auto;
}

.preview--open::before {
	opacity: 1;
}

.clone {
	position: fixed;
	z-index: 110;
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.2, 1);
	transition: transform 0.6s cubic-bezier(0.5, 1, 0.2, 1);
	-webkit-backface-visibility: hidden;
}

.original {
	position: relative;
	z-index: 120;
	display: block;
	margin: auto 0;
	object-fit: contain;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	-webkit-backface-visibility: hidden;
}

.preview--open .animate {
	/* open */
	-webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
	transition: transform 0.6s, opacity 0.2s;
}

.animate {
	/* close */
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.description {
	color: #fff;
}

.js .description--grid {
	display: none;
}

.description--preview {
	font-size: 1.15em;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 140;
	height: 25vh;
	padding: 1.05em 0 0;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translate3d(0, 30px, 0);
	transform: translate3d(0, 30px, 0);
}

.preview--open .description--preview {
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}


/* Close button */

.action {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	cursor: pointer;
	vertical-align: top;
	color: #6bd68a;
	border: none;
	background: none;
}

.action:hover,
.action:focus {
	color: #6bd68a;
	outline: none;
}

.action--close {
	position: fixed;
	z-index: 150;
	top: 0;
	right: 0;
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
}

.action--nav {
	position: absolute;
	top: 0;
	height: 100%;
	padding: 0.15em 1em;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.action--navprev {
	left: 0;
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0);
}

.action--navnext {
	right: 0;
	-webkit-transform: translate3d(10px, 0, 0);
	transform: translate3d(10px, 0, 0);
}

.preview--open .action--nav {
	opacity: 1;
	-webkit-transition-delay: 0.85s;
	transition-delay: 0.85s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.preview--image-loaded .action--close {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.text-hidden {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	color: transparent;
}


/* Dummy thumbs */

.thumbs {
	position: fixed;
	z-index: 200;
	bottom: 10px;
	left: 50%;
	overflow: hidden;
	width: 100%;
	width: 100%;
	max-width: 790px;
	height: 5vw;
	min-height: 65px;
	margin-top: auto;
	padding: 0 4em;
	text-align: center;
	vertical-align: middle;
	pointer-events: none;
	opacity: 0;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.preview--open .thumbs {
	pointer-events: auto;
	opacity: 1;
}

.thumbs img {
	position: relative;
	display: inline-block;
	max-height: 100%;
	margin: 0 2px;
	opacity: 0;
	-webkit-transition: -webkit-transform 1s, opacity 1s;
	transition: transform 1s, opacity 1s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}

.preview--open .thumbs img {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.preview--open .thumbs img:nth-of-type(1) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.preview--open .thumbs img:nth-of-type(2) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.preview--open .thumbs img:nth-of-type(3) {
	-webkit-transition-delay: 0.55s;
	transition-delay: 0.55s;
}

.preview--open .thumbs img:nth-of-type(4) {
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

.preview--open .thumbs img:nth-of-type(5) {
	-webkit-transition-delay: 0.65s;
	transition-delay: 0.65s;
}

.preview--open .thumbs img:nth-of-type(6) {
	-webkit-transition-delay: 0.7s;
	transition-delay: 0.7s;
}

.preview--open .thumbs img:nth-of-type(7) {
	-webkit-transition-delay: 0.75s;
	transition-delay: 0.75s;
}

.preview--open .thumbs img:nth-of-type(8) {
	-webkit-transition-delay: 0.8s;
	transition-delay: 0.8s;
}

.preview--open .thumbs img:nth-of-type(9) {
	-webkit-transition-delay: 0.85s;
	transition-delay: 0.85s;
}
