body{
    background-color:#333333;
}

ul{
    list-style-type:none;
    background-color:#888888;
    position:fixed;
    height:100%;
    font-family:sans-serif;
    font-size:20px;
    font-weight:bold;
    padding:30px;
    padding-top:0px;
    margin:0;
    color:white;
    
}

#sidebar img{
    margin-top:40px;
    margin-bottom:40px;
    height:100px;
    padding-top:auto;
    padding-bottom:auto;
}

#About{
    text-align:center;
    margin-left:200px;
    
}

#About h1{
    text-align:center;
    font-size:63px;
    font-family:sans-serif;
    text-decoration:underline;
    color:white;
}

#firstimage{
    height:140px;
    width:140px;
    margin-top:40px;
    background-image:url("https://pixabay.com/static/uploads/photo/2013/07/13/12/07/avatar-159236_640.png");
    background-size:cover;
    background-position:center;
    border-radius:50%;
    border: 8px solid white;
    position:auto;
    display:inline-block;
    background-repeat:no-repeat;
}

#firstimage:hover{
    background-image:url('https://reelclub.files.wordpress.com/2011/10/exor5.jpg');
}
    

#About p{
    color:white;
    font-style:sans-serif;
    margin:auto;
    padding:50px;
    text-align:justify;
}
